.card {
    height: 20%;
}

.card-img-top {
    object-fit: cover;
    height: 100px;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
}

.card-text {
    font-size: 18px;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
}

.table td, .table th {
    vertical-align: middle;
    font-size: 18px;
}

.table th {
    font-weight: bold;
}

.cart-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-table th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.cart-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.add-to-cart-btn {
    background: #d7ba84 !important;
    border: none;
}

.add-to-cart-btn:hover {
    background: #a98f5d !important;
}

a.pay-button {
    margin-left: 100px  !important;
    background: #d7ba84  !important;
    padding: 4px 12px  !important;
    border-radius: 6px  !important;
    text-decoration: none  !important;
    cursor: pointer  !important;
}

a.pay-button:hover {
    background: #a98f5d !important;
}
