<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweetland - Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/menu-b.css/}">

</head>
<body>

<header class="main-header">
    <a href="http://localhost:9090/sweet/" class="main-header-logo" style="text-decoration: none;">Sweetland</a>

    <form class="main-header-form" th:action="@{/search}" method="get">
        <input class="header-form--input form-control" type="text" placeholder="Search" name="query">
        <button class="header-form-submit-button" type="submit">Որոնել</button>
    </form>

    <nav class="main-header-nav">
        <a class="nav-item" th:href="@{/}">Գլխավոր</a>
        <a class="nav-item" th:href="@{/about}">Մեր մասին</a>
        <a class="nav-item" th:href="@{/products}">Տեսականի</a>
        <a class="nav-item" th:href="@{/login}">Հաշիվ</a>
        <a class="nav-item" th:href="@{/contact}">Հետադարձ կապ</a>
    </nav>

</header>

<div class="container my-4">

    <table class="table">
        <thead>
        <tr>
            <th>Ապրանք</th>
            <th>Գին</th>
            <th>Քանակ</th>
            <th>Արժեք</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="@{${cartItem.product.imageUrl}}" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="col-md-8">
                        <h5 th:text="${cartItem.product.name}" class="card-title"></h5>
                        <p th:text="${cartItem.product.description}" class="card-text"></p>
                    </div>
                </div>
            </td>
            <td th:text="${cartItem.product.price}" class="align-middle">$</td>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <form th:action="@{'/cart/update/' + ${cartItem.product.id}}" method="post">
                            <input type="number" name="quantity" th:value="${cartItem.quantity}" min="1"
                                   class="form-control">
                            <button type="submit" class="change--button btn btn-warning mt-2">Փոփոխել</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form th:action="@{'/cart/remove/' + ${cartItem.id}}" method="post">
                            <button type="submit" class="delete-button btn btn-danger">Ջնջել</button>
                        </form>
                    </div>
                </div>
            </td>
            <td th:text="${cartItem.product.price * cartItem.quantity}" class="align-middle">AMD</td>
        </tr>
        <tr>
            <td colspan="3"><strong>Ընդամենը:</strong></td>
            <td th:text="${totalPrice}" class="align-middle">AMD</td>
        </tr>
        </tbody>
    </table>


    <a  class="pay-button" th:href="@{/checkout}"><button class="btn btn-outline-warning">Վճարել</button></a>


</div>
</body>
</html>