<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Sweetland</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/motion-background.css/}">
</head>
<body>
<header>
    <h1>SWEETLAND</a></h1>    <!--  <a th:href="@{/}"> -->
<!--    <p>JWT: <span th:text="${jwt}"></span></p>-->

</header>
<nav>
    <ul>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/login}">Register</a></li>
        <li><a th:href="@{/products}">See all products</a></li>
    </ul>
</nav>
<main>
    <div class="banner">
        <h2>Welcome to Sweetland, where all your sweet dreams come true</h2>
        <a th:href="@{/products}">Shop now</a>
    </div>
    <div class="featured-products">
        <h3>Featured products</h3>
        <ul>
            <li>
                <img th:src="@{/img/cupcake1.png}">
                <h4>Cupcake 1</h4>
                <p>$5.00</p>
            </li>
            <li>
                <img th:src="@{/img/cupcake2.png}">
                <h4>Cupcake 2</h4>
                <p>$5.00</p>
            </li>
            <li>
                <img th:src="@{/img/cupcake3.png}">
                <h4>Cupcake 3</h4>
                <p>$5.00</p>
            </li>
            <li>
                <img th:src="@{/img/macaroon.png}">
                <h4>Macaroon 1</h4>
                <p>$5.00</p>
            </li>
            <li>
                <img th:src="@{/img/macaroon2.png}">
                <h4>Macaroon 2</h4>
                <p>$5.00</p>
            </li>
            <li>
                <img th:src="@{/img/macaroon3.png}">
                <h4>Macaroon 3</h4>
                <p>$5.00</p>
            </li>
        </ul>
    </div>
</main>
<footer>
    <p>&copy; 2023 Sweetland. All rights reserved.</p>
</footer>
</body>
</html>
