<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Sweetland</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/menu-b.css/}">
    <link rel="stylesheet" th:href="@{/myAccount.css/}">
</head>
<body>

<header class="main-header">
    <a href="http://localhost:9090/sweet/" class="main-header-logo" style="text-decoration: none;">Sweetland</a>

    <!--    <form class="main-header-form" th:action="@{/search}" method="get">-->
    <!--        <input class="header-form&#45;&#45;input form-control" type="text" placeholder="Search" name="query">-->
    <!--        <button class="header-form-submit-button" type="submit">Որոնել</button>-->
    <!--    </form>-->

    <nav class="main-header-nav">
        <a class="nav-item" th:href="@{/}">Home</a>
        <a class="nav-item" th:href="@{/about}">About</a>
        <a class="nav-item" th:href="@{/products}">Sweets</a>
        <a class="nav-item" th:href="@{/login}">Account</a>
        <a class="nav-item" th:href="@{/contact}">Contact</a>
    </nav>

</header>
<section class="my-account">
    <!--    <div class="form-wrapper">-->
    <div class="form-container">
        <h3>Register</h3>
        <form class="form" th:action="@{/register}" th:object="${user}" method="post">
            <label for="first-name">Name:</label>
            <input type="text" id="first-name" name="firstName" th:field="*{firstName}" required><br>
            <label for="last-name">Surname:</label>
            <input type="text" id="last-name" name="lastName" th:field="*{lastName}" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required><br>
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" th:field="*{phone}" required><br>
            <input type="submit" value="Register">
        </form>
    </div>
    <!--    </div>-->

    <div class="form-wrapper">
        <div class="form-container">
            <h3>Sign In</h3>
            <form th:action="@{/login}" th:object="${user}" th:method="post">
                <label for="login-username">Email:</label>
                <input type="email" id="login-username" name="login-username" th:field="*{email}" required><br>
                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="login-password" th:field="*{password}" required><br>
                <input type="submit" value="Log In">
            </form>
        </div>
    </div>
</section>

</body>
</html>

