<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweetland - Product Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

    <link rel="stylesheet" th:href="@{/menu-b.css/}">
    <link rel="stylesheet" th:href="@{/view-product.css/}">


</head>
<body>

<header class="main-header">
    <a href="http://localhost:9090/sweet/" class="main-header-logo" style="text-decoration: none;">Sweetland</a>

    <form class="main-header-form" th:action="@{/search}" method="get">
        <input class="header-form--input form-control" type="text" placeholder="Search" name="query">
        <button class="header-form-submit-button" type="submit">Որոնել</button>
    </form>

    <nav class="main-header-nav">
        <a class="nav-item" th:href="@{/}">Գլխավոր</a>
        <a class="nav-item" th:href="@{/about}">Մեր մասին</a>
        <a class="nav-item" th:href="@{/products}">Տեսականի</a>
        <a class="nav-item" th:href="@{/login}">Հաշիվ</a>
        <a class="nav-item" th:href="@{/contact}">Հետադարձ կապ</a>
    </nav>

</header>

<div class="container my-4">
    <div class="row">
        <img class="view-product col-md card-img-top" th:src="@{${product.imageUrl}}" alt="Product Image">
        <div class="view-product col-md card mb-4 box-shadow">

            <div class="col-md card-body">
                <div class="col-md-6">
                    <h1 th:text="${product.name}">Անվանումը</h1>
                    <p class="card-text" th:text="${product.description}">Նկարագրությունը</p>
                    <h2 class="card-price" th:text="${product.price} + ' AMD'">$10.00</h2>
<!--                    <form th:action="@{/add-cart}" th:object="${addProductToCartDto}" method="post">-->
<!--                        <input type="hidden" th:field="*{productId}" th:value="${product.id}">-->
                        <!--            <div class="form-group">-->
                        <!--              <label for="quantity">Quantity</label>-->
                        <!--              <input type="number" class="form-control" id="quantity" th:field="*{quantity}" required>-->
                        <!--            </div>-->
                        <!--            <button type="submit" class="btn btn-primary">Add to Cart</button>-->
                        <!--            <a th:href="@{/cart}" th:method="post" class="btn btn-secondary">Add to Cart</a>-->
                        <form th:action="@{/add-cart}" th:object="${addProductToCartDto}" method="post">
                            <input type="hidden" th:field="*{productId}" th:value="${product.id}">
                            <!--              <input type="hidden" th:field="*{userId}" th:value="${userId}">-->
                            <input type="hidden" th:field="*{cartId}" th:value="${cartId}">
                            <div class="form-group">
                                <label for="quantity">Քանակը</label>
                                <input type="number" class="form-control" id="quantity" th:field="*{quantity}" required>
                            </div>
                            <!--              <button type="submit" class="btn btn-primary">Ավելացնել զամբյուղ</button>-->
<!--                            <a th:href="@{/cart}" th:method="post">-->
<!--                                <button type="button" class="add-button add-to-cart-btn btn btn-primary">Ավելացնել-->
<!--                                    զամբյուղ-->
<!--                                </button>-->
<!--                            </a>-->
                            <a  class="pay-button" th:href="@{/cart}"><button class="btn btn-outline-warning">Ավելացնել զամբյուղ</button></a>

                            <a th:href="@{/products}" class="button-continue btn btn-secondary">Շարունակել գնումները</a>
<!--                        </form>-->


                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
